@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-green: #849d8f;
  --basic-gray: #8996a6;
  --basic-brown: #9d8b84;
  --basic-orange: #e84d37;
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-gray-light: #999999;
  --basic-gray-dark: #5a5a5a;
  --basic-orange-light: #ffbc9e;
  --basic-white-dark: #f8f7f4;
  --special: #d07058;
  --special-light: #fbded7;
  --special-dark: #f6b5a5;
  --special-link: #ededed;
  --pattern: #eadcbe;
  --raspberry-background: #73172b;
  --chocolate-bacground: #3a2217;
  --special-gray: #d3d3d2;
  --special-border-gray: #696969;
  --special-range: #ABABAB;
  --special-border: #CACAC7;
}

.page {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: var(--basic-white);
  text-transform: none;
  background-color: var(--basic-green);
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.btn {
  margin: 0;
  padding: 0;
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-orange);
  text-transform: none;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 70px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
}

.index-slider-btn {
  display: inline-block;
  width: 261px;
  vertical-align: middle;
  min-height: 62px;
  font-size: 32px;
  line-height: 44px;
  padding: 9px 23px;
  margin-bottom: 41px;
}

.btn:hover {
  background-image: linear-gradient( 0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px #ac1000;
  border-radius: 70px;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  border-radius: 70px;
}

.btn-link {
  background: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
}

.page-body a {
  text-decoration: none;
  color: var(--basic-white);
}

.link {
  color: var(--basic-white);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link:hover ,
.link:active ,
.link:focus-visible {
  color: var(--basic-orange-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header-logo {
  margin-right: 10px;
  width: 154px;
  height: 64px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1146px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.site-navigation-item:last-child {
  padding-right: 0;
}

.site-navigation a,
.dropdown a,
.user-navigation a {
  display: block;
}

.site-navigation-link {
  padding: 9px 13px 9px 13px;
  position: relative;
}

.site-navigation-link::after {
  content: "";
  position: absolute;
  width: calc(100% - 28px);
  height: 1px;
  background-color: rgba(255,255,255,.2);
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.site-navigation-link:hover {
  background: var(--basic-white);
  border-radius: 26px;
  color: var(--basic-black);
}

.site-navigation-link:active {
  box-shadow: inset 0px 2px 1px var(--special-border-gray);
  background-color: var(--special-link);
}

.link-catalog:active {
  background: var(--special-link);
  box-shadow: inset 0px 2px 1px var(--special-border-gray);
  border-radius: 26px;
}

.link-catalog:hover + .dropdown {
  display: block;
}

.catalog-item {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.dropdown {
  min-width: 143px;
  position: absolute;
  display: none;
  list-style: none;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  top: 42px;
  left: -14px;
  z-index: 1;
}

.dropdown .dropdown-title {
  display: block;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  padding: 13px 64px 15px 21px;
}

.dropdown a {
  border-radius: inherit;
  color: var(--basic-black);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border-bottom: none;
  padding: 12px 20px 7px 21px;
}

.dropdown a:hover {
  background: var(--special-light);
}

.dropdown a:active {
  background: var(--special-dark);
}

.dropdown .active {
  background: var(--special);
}

.user-navigation {
  min-width: 280px;
  padding-top: 13px;
}

.common-modal {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.common-modal-item {
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}

.common-modal-item:last-child {
  margin-right: 0;
}

.work-info {
  text-align: right;
  margin-top: 23px;
}

.btn-search {
  width: 32px;
  height: 32px;
  padding: 8px;
  margin: 0;
  cursor: pointer;
  position: relative;
  border: none;
}

.common-modal-item:hover .search-field {
  display: block;
}

.search-field {
  position: absolute;
  display: none;
  top: 37px;
  left: -308px;
  background: var(--basic-white-dark);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: none;
  min-width: 341px;
  min-height: 84px;
  padding: 20px 15px;
}

 .input-search {
  outline: none;
  background: var(--basic-white);
  border: 1px solid var(--special-gray);
  border-radius: 4px;
  min-width: 311px;
  min-height: 44px;
  padding: 10px;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.input-style:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
}

.input-style:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.input-style::placeholder {
  color: var(--basic-gray-light);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.btn-login {
  padding: 8px 16px 8px 44px;
  min-width: 92px;
}

.login-icon {
  position: absolute;
  top: 7px;
  left: 16px;
}

.btn-basket {
  padding: 8px 16px 8px 45px;
}

.basket-icon {
  position: absolute;
  top: 6px;
  left: 17px;
}

.common-modal-btn:hover path{
 fill: var(--basic-black);
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.main-header {
  margin-top: 10px;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-image: url("../img/sliders/slider-1.png");
  border-color: var(--basic-green);
}

.site-wrapper-2 {
  background-image: url("../img/sliders/slider-2.png");
  border-color: var(--basic-gray);
}

.site-wrapper-3 {
  background-image: url("../img/sliders/slider-3.png");
  border-color: var(--basic-brown);
}

.slider {
  position: relative;
  padding-top: 275px;
  text-align: center;
}

.slider-title {
  width: 672px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  display: flex;
  min-width: 79px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .slider-btn-current {
  background-color: var(--basic-white);
}

.slider-controls button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls button:active {
  background-color: var(--basic-white);
}

.index-banner-wrapper {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
}

.index-banner-raspberry {
  background-color: var(--raspberry-background);
  background-image: url("../img/background-images/raspberry-background.jpg");
  min-width: 560px;
  height: 100%;
  background-size: cover;
  border-radius: 16px;
}

.index-banner h2 {
  font-size: 35px;
  line-height: 41px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 0;
}

.index-banner p {
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 30px;
  margin-bottom: 44px;
}

.index-banner {
  display: flex;
  flex-direction: column;
}

.btn-link {
  padding: 12px 22px;
  margin-right: 22px;
  margin-bottom: 22px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  min-height: 48px;
}

.index-banner-chocolate {
  background-color: var(--chocolate-bacground);
  background-image: url("../img/background-images/chocolate-background.jpg");
  min-width: 560px;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
}

.index-banner-chocolate .btn-link {
  width: 191px;
}

.hit-ice-cream {
  margin-bottom: 40px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 267px);
  gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card-list img {
  margin-bottom: 8px;
}

.card-list-wrapper {
  position: relative;
  z-index: 2;
  display: block;
  min-height: 321px;
}

.card-list-wrapper:hover {
  z-index: 3;
}

.card-list-wrapper-hit::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon/hit.svg");
  background-repeat: no-repeat;
  width: 61px;
  height: 61px;
  top: 0;
}

.card-list-wrapper::after {
  display: none;
  content: "";
  position: absolute;
  top: -8px;
  width: 293px;
  height: 402px;
}

.card-list-wrapper:hover::after {
  display: block;
  background: var(--basic-white);
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: -1;
}

.hidden-btn {
  position: absolute;
  display: none;
  min-width: 200px;
  padding: 10px 14px;
  min-height: 44px;
  bottom: -60px;
  left: 30px;
  cursor: pointer;
}

.card-list-wrapper:hover .hidden-btn {
  display: block;
}

.price {
  position: absolute;
  bottom: 66px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-white);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.weight {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.card-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.features {
  background-color: var(--pattern);
  background-image: url("../img/background-images/waffle.png");
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 24px 23px 10px 20px;
}

.features h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.features-list {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 31px;
  margin: 0;
  padding: 0;
}

.features-list p {
  margin: 0;
  padding: 0;
  margin-left: 54px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
}

.features-ice-cream::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -10px;
  background-image: url("../img/icon/ice-cream.svg");
  width: 49px;
  height: 49px;
}

.features-cow::before {
  content: "";
  position: absolute;
  left: 566px;
  top: -10px;
  background-image: url("../img/icon/cow.svg");
  width: 49px;
  height: 49px;
}

.features-leaf::before {
  content: "";
  position: absolute;
  left: 0;
  top: 77px;
  background-image: url("../img/icon/leaf.svg");
  width: 49px;
  height: 49px;
}

.features-thermometer::before {
  content: "";
  position: absolute;
  left: 566px;
  top: 78px;
  background-image: url("../img/icon/thermometer.svg");
  width: 49px;
  height: 49px;
}

.index-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 40px;
}

.new-post {
  width: 560px;
  min-height: 220px;
  background-color: var(--basic-white);
  background-image: url("../img/background-images/strawberry.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-left: 20px;
  margin-right: 26px;
}

.new-post p {
  margin-top: 15px;
  padding: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
}

.new-post .link-post {
  display: block;
  width: 287px;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
  text-decoration: underline;
  border-bottom: none;
}

.link-post:hover ,
.link-post:active {
  color: var(--basic-orange);
}

.subscribe {
  padding: 5px 6px;
  background-image: url("../img/background-images/mail-background.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  max-width: 560px;
  min-height: 220px;
  background-size: cover;
}

.subscribe-inner {
  padding: 22px 16px 35px 18px;
  display: flex;
  flex-wrap: wrap;
  background: var(--basic-white-dark);
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.subscribe p {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-gray-dark);
}

.subscribe-input {
  padding-left: 14px;
  width: 368px;
  min-height: 44px;
  background: var(--basic-white);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  outline: none;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;
}

.subscribe-input::placeholder {
  color: var(--basic-gray-light);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.subscribe-inner .btn {
  width: 130px;
  min-height: 44px;
  padding: 10px 19px;
  margin-left: 10px;
}

.main-footer {
  padding-bottom: 25px;
  padding-top: 18px;
}

.social-list,
.info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-item {
  margin-right: 8px;
}

.btn-social {
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-social:hover path,
.btn-social:active {
  fill-opacity: 1;
}

.icon-path:hover ,
.icon-path:active {
  opacity: 1;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
}

.info-list .info-item-text {
  font-weight: bold;
  margin-bottom: 11px;
  position: relative;
}

.info-item-text::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -22px;
  background-image: url("../img/icon/heart.svg");
  width: 15px;
  height: 13px;
}

.info-item {
  width: 50%;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  max-width: 340px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}

.footer-copyright p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

.footer-copyright .logo-academy {
  border-bottom: none;
  margin-bottom: 5px;
}

.authorization {
  background: var(--basic-white-dark);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 20px 17px;
  min-width: 277px;
  position: absolute;
  display: none;
  top: 36px;
  left: -185px;
  z-index: 1;
  min-height: 214px;
}

.authorization p {
  margin: 0;
  padding: 0;
}

.authorization a {
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.login ,
.password {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background: var(--basic-white);
  border: 1px solid var(--special-gray);
  border-radius: 4px;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  min-width: 241px;
}

.authorization-link-frapper {
  display: flex;
  flex-wrap: wrap;
}

.authorization-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.authorization-btn-login {
  padding: 10px 26px;
  margin-right: 20px;
}

.common-modal-login {
  position: relative;
}

.common-modal-login:hover .authorization {
  display: block;
}

/* catalog */
.inner-page {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.catalog-navigation {
  font-weight: bold;
}

.catalog-current {
  background: var(--special);
  border-radius: 26px;
}

.icon-basket-catalog {
  position: absolute;
  left: 15px;
  top: 6px;
}

.time-work {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

.common-modal-btn {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: relative;
}
.inner-page .btn-basket-active {
  background: var(--basic-white);
  border-radius: 20px;
  color: var(--basic-black);
}

.common-modal-btn:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

.breadcrumbs-wrapper {
  min-width: 224px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: -21px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-catalog .breadcrumbs-current {
  border-bottom: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 22px;
}

.breadcrumbs li:last-child {
  margin: 0;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-image: url("../img/icon/arrow.svg");
  z-index: -1;
  top: 5px;
  left: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-catalog h1 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.filters-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 130px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.catalog-filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: 12px;
}

.filter-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  margin-left: 15px;
  display: block;
}

.filter-title label {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.catalog-filter-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.wrapper-sort {
  appearance: none;
  margin-right: 15px;
  width: 196px;
  padding: 8px 16px;
  min-height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  border: none;
}

.select-wrapper {
  position: relative;
}

.select-icon {
  z-index: 1;
  position: absolute;
  width: 11px;
  height: 10px;
  right: 30px;
  top: 14px;
  pointer-events: none;
}

.wrapper-sort:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--basic-black);
}

.select-wrapper:hover path{
  fill: var(--basic-black);
}

.range-wrapper {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  min-width: 218px;
  min-height: 36px;
  padding: 17px 21px;
  position: relative;
  margin-right: 15px;
}

.range-wrapper .scale {
  height: 2px;
  background: rgba(248, 247, 244, 0.5);
}

.scale .bar {
  height: 2px;
  background: 2px var(--basic-white-dark);
  margin-left: 34px;
  width: 47%;
}

.range-wrapper .toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 2px;
  background: var(--special-range);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  display: block;
  top: 8px;
  cursor: pointer;
}

.toggle-min{
  left: 34px;
}

.toggle-max {
  left: 135px;
}

.topping {
  min-width: 711px;
}

.wrapper-checkbox {
  padding: 8px 19px 8px 48px;
}

.fat {
  width: 425px;
}

.topping label {
  position: relative;
  cursor: pointer;
  margin-right: 54px;
}

.topping label:last-child {
  margin: 0;
}

.filter-input-checkbox + label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/icon/checkbox-off.svg");
  top: 0;
  left: -30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox:focus-visible + label::before {
  outline: 3px solid var(--basic-black);
}

.filter-input-checkbox:checked + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: -30px;
  background: url("../img/icon/checkbox-on.svg");
  width: 24px;
  height: 20px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.4;
}

.wrapper-radio {
  padding: 7px 17px 7px 47px;
}

.fat label {
  position: relative;
  cursor: pointer;
  margin-right: 52px;
}

.fat label:last-child{
  margin: 0;
}

.filter-input-radio + label::before {
  position: absolute;
  content: "";
  width: 22px;
  height: 22px;
  top: -2px;
  left: -30px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.8);
}

.filter-input-radio + label:hover::before {
  border-color:rgba(255, 255, 255, 1);
}

.filter-input-radio:disabled + label::before {
  border-color:rgba(255, 255, 255, 0.4);
}

.filter-input-radio:checked + label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 4px;
  left: -24px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.filter-input-radio:focus-visible + label::before {
  outline: 3px solid var(--basic-black);
}

.btn-accept {
  padding: 7px 29px ;
  margin-left: 14px;
  width: 144px;
  min-height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.btn-accept:hover {
  background: var(--basic-white);
  border-radius: 20px;
  color: var(--basic-black);
}

.btn-accept:active {
  box-shadow: inset 0px 2px 1px var(--special-border-gray);
}

.menu-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 267px);
  row-gap: 40px;
  column-gap: 26px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 194px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-bottom: 30px;
}

.pagination-item {
  min-width: 26px;
  min-height: 26px;
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-item-current {
  background: var(--basic-white);
}

.pagination-item-current .pagination-link {
  color: var(--basic-black);
}

.pagination-item:hover:not(:last-child) {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item:active .pagination-link {
  color: var(--basic-black);
}

.pagination-item:active:not(:last-child) {
  background: var(--basic-white);
}

.pagination-item-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.pagination-link-disabled {
  cursor: default;
}

.map-container {
  position: relative;
  margin: 0 -27px;
  width: 1200px;
  height: 430px;
}

.map-container iframe {
  border: none;
}

.contacts {
  position: absolute;
  background-color: var(--basic-white);
  width: 303px;
  min-height: 306px;
  border-radius: 16px;
  color: var(--basic-black);
  padding: 32px 25px;
  top: 62px;
  right: 27px;
}

.contacts p {
  margin: 0;
  padding: 0;
}

.contacts .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts .address {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

 .contacts .contacts-phone{
  margin-bottom: 5px;
}

.contacts .phone {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

 .contacts .text-work-time {
  margin-bottom: 35px;
}

.btn-feedback {
  padding: 11px 28px;
}

.modal {
  display: none;
  width: 477px;
  min-height: 441px;
  background-color: var(--basic-white-dark);
  border-radius: 6px;
  padding: 22px 32px 22px 17px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 441px;
  right: 0;
  margin: auto;
  z-index: 20;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal form {
  display: flex;
  flex-wrap: wrap;
}

.modal h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--basic-black);
}

.modal-input ,
.modal textarea {
  outline: none;
  padding: 11px 14px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal-input {
  min-width: 267px;
}

.modal textarea {
  width: 428px;
  min-height: 154px;
  resize: none;
}

.modal-btn {
  padding: 10px 24px;
  margin-left: auto;
}

.modal-close {
  position: absolute;
  width: 18px;
  height: 18px;
  border: none;
  right: 25px;
  top: 13px;
  cursor: pointer;
  background-color: transparent;
}

.modal-close::after ,
.modal-close::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 3px;
  background-color: var(--basic-black);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close::before {
  transform: rotate(45deg);
}

.item-basket {
  position: relative;
}

.item-basket:hover .basket-modal {
  display: block;
}

.basket-modal {
  display: none;
  position: absolute;
  font-weight: normal;
  top: 36px;
  left: -417px;
  font-size: 13px;
  line-height: 16px;
  width: 539px;
  z-index: 2;
}

.basket-modal-wrapper  {
  background-color: var(--basic-white-dark);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 242px;
  color: var(--basic-black);
  padding: 20px 14px 21px 21px;
  align-items: flex-start;
}

.delete-btn {
  border: 0;
  background-image: url("../img/icon/delete-icon.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin-right: 9px;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}

.basket-modal-item {
  display: flex;
  margin-bottom: 18px;
  align-items: center;
}

.basket-modal-item img {
  margin-right: 13px;
}

.basket-modal a {
  color: var(--basic-black);
  margin-right: 31px;
}

.basket-item-price {
  color: var(--special-range);
  margin-right: 26px;
  margin-left: 1px;
}

.total-price {
  border-top: 1px solid var(--special-border);
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  margin-bottom: 18px;
}

.basket-modal .btn {
  padding: 10px 15px;
  margin-left: auto;
  cursor: pointer;
}

.basket-price {
  width: 100%;
  text-align: right;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.feedback-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.feedback-overlay-visible {
  display: block;
}
